h1{
    text-align: center;
    font-size: 70px;
    color:white;
}

#title{
    text-align: center;
    font-size: 45px;
    color:white;
}

.block {
    display: block;
    width: 70%;
    border: none;
    background-color: #c0c0c0;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

html {
    background: url(/resources/banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
}
table{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
td{
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
}
.form{
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

input{
    margin-bottom:8px;
}